/*预定义样式*/

@import 'layout.scss';

@mixin img($url) {
    background-image: url($url + '@2x.png');
    background-repeat: no-repeat;
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3){
        background-image: url($url + '@3x.png');
        background-repeat: no-repeat;
    }
}

@mixin btn($fontSize:14px,$color:#fff,$bgcolor:#ce2626,$padding:5px,$radius:5px) {
    padding: $padding;
    background-color: $bgcolor;
    border-radius: $radius;
    border: 1px solid $bgcolor;
    font-size: $fontSize;
    color: $color;
    text-align: center;
    line-height:1;
    display: inline-block;
    filter: hue-rotate(20deg); //滤镜 IE-不兼容
}

@mixin list($direction: column) {
    @include flex($direction);
}

@mixin ellipsis() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin panel($bgcolor:#fff, $padding:0, $magin:0, $height:112px, $txtPadding:0 32px, $color:#333, $fontSize: 14px) {
    background: $bgcolor;
    padding: $padding;
    margin: $magin;
    >h4{
        height: $height;
        line-height: $height;
        padding: $txtPadding;
        @include ellipsis();
        color: $color;
        font-size: $fontSize
    }
}

@mixin imgSize($width:100%, $height:160px) {
    width: $width;
    height: $height;
}

@mixin listlayout($display: flex, $wrap: wrap, $justify: space-around) {
    display: $display;
    flex-wrap: $wrap;
    justify-content: $justify;
}
@mixin listItem($width:80px,$height:68px,$imgSize:45px,$magin:10px,$color:#333,$fontSize:13px) {
    overflow: hidden;
    >li{
        width: $width;
        height: $height;
        margin:$magin 0;
        color: $color;
        font-size: $fontSize;
        text-align: center;
        >img {
            @include imgSize($imgSize, $imgSize);
        }
    }
}