/*样式变量*/

// 字体风格
$a_family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "微软雅黑", "Segoe UI", "Tahoma", "宋体", "SimSun", "sans-serif";
$a_family_yh: "Microsoft Yahei UI", "Microsoft Yahei", "微软雅黑", "Segoe UI", "Tahoma", "SimSun", "sans-serif";

$color: #666;

$size: 14px; //默认字体大小
$size-10: 12px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;

//外边距
$mg10: 10px;
$mg20: 20px;
$mg30: 30px;
//内距
$pd10: 10px;
$pd20: 20px;
$pd30: 30px;